{{- $isDevcontainer := env "DEVCONTAINER" | not | not -}}
{{- $devcontainerType := env "DEVCONTAINER" -}}
data:
  name: "Timo Surmann"
{{- if $isDevcontainer }}
  machineType: "devcontainer"
{{- else if eq .chezmoi.os "darwin" }}
  machineType: "macos"
{{- else }}
  machineType: "ubuntu-server"
{{- end }}
{{- if $isDevcontainer }}
  email: dev@timosur.com
{{ else }}
  email: {{ promptString "email" | quote }}
{{ end }}
{{- if hasSuffix "@rwe.com" .email }}
  gpgSigningKey: DA921710BC23196F
{{ else }}
  gpgSigningKey: 6A245D38DC95C87A
{{- end }}
diff:
  command: delta
sourceDir: "/Users/timosur/code/dotfiles"
