{{- $isDevcontainer := env "DEVCONTAINER" | not | not -}}
{{- $devcontainerType := env "DEVCONTAINER" -}}
data:
  name: "Timo Surmann"
{{- if $isDevcontainer }}
  machineType: "devcontainer"
{{- else if eq .chezmoi.os "darwin" }}
  machineType: "macos"
{{- else }}
  machineType: "ubuntu-server"
{{- end }}
{{- if $isDevcontainer }}
  email: dev@timosur.com
{{ else }}
  email: {{ promptString "email" | quote }}
{{ end }}
  gpgSigningKey: A2ADB597B5C96D5A

diff:
  command: delta
