{
  "mcpServers": {
{{- if hasSuffix "@rwe.com" .email }}
    "ado": {
      "command": "npx",
      "args": ["-y", "@azure-devops/mcp", "RWE-Renewables", "-a", "azcli"]
    },
{{- end }}
    "gopls": {
      "command": "gopls",
      "args": ["mcp"],
      "disabled": true
    },
    "code-runner": {
      "command": "npx",
      "args": ["-y", "mcp-server-code-runner@latest"],
      "disabled": true
    }
  }
}
