# Kubernetes homelab nodes
Host homelab-amd
    HostName 192.168.2.100

Host homelab-amd-desktop
    HostName 192.168.2.241

Host homelab-arm-large
    HostName 192.168.2.54

Host homelab-arm-small
    HostName 192.168.2.124

Host homelab-gpu
    HostName 192.168.2.47
