{{- if eq .chezmoi.os "darwin" -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host dev
   HostName 127.0.0.1
   Port 32222
   User default
   IdentityFile ~/.orbstack/ssh/id_ed25519
   IdentitiesOnly yes
   UserKnownHostsFile ~/.orbstack/ssh/known_hosts
   ProxyCommand '/Applications/OrbStack.app/Contents/Frameworks/OrbStack Helper.app/Contents/MacOS/OrbStack Helper' ssh-proxy-fdpass 501 {{ .chezmoi.homeDir }}
   HostName ubuntu.machine
   ForwardAgent yes
   StrictHostKeyChecking no
   UserKnownHostsFile /dev/null
{{- end }}

Host snips
    HostName snips.icb4dc0.de
    Port 2222
