{
  "lastChangelogVersion": "0.84.4",
  "defaultProvider": "opencode-go",
  "defaultModel": "deepseek-v4-pro",
  "packages": [
    "npm:pi-antigravity",
    "npm:pi-btw",
    "npm:pi-caveman",
    "npm:pi-claude-bridge",
    "npm:pi-mcp-adapter",
    "npm:pi-thinking-box",
    "npm:pi-sandbox",
    "npm:pi-subagents",
    "npm:@dietrichgebert/ponytail",
    "npm:@juicesharp/rpiv-ask-user-question",
    "npm:@juicesharp/rpiv-todo"
  ],
  "quietStartup": true,
  "theme": "dark",
  "subagents": {
    "defaultProvider": "opencode-go",
    "defaultModel": "deepseek-v4-flash"
  }
}
